# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv/
env/
venv/

# Streamlit cache and logs
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite
*.db

# VSCode settings
.vscode/
